server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        target_label: service
      - source_labels: [__meta_docker_container_name]
        regex: "/(.*)"
        target_label: container
    pipeline_stages:
      - docker: {}
      - labeldrop:
          - filename
      - json:
          expressions:
            level: level
            route: route
            status: status
            duration_ms: duration_ms
            agent: agent
      - labels:
          service:
          container:
          level:
          route:
          status:
          agent:
